
#
# Developer-local Gemfile to use with `bundler-gemlocal` (https://github.com/dadooda/bundler-gemlocal).
#
# USAGE:
#
# 1. Set up `bundler-gemlocal` and configure your project (see https://github.com/dadooda/bundler-gemlocal#setup).
# 2. Copy this file to `Gemlocal`.
# 3. Copy `Gemfile.lock` to `Gemlocal.lock`.
# 4. Now keep editing both `Gemfile` and `Gemlocal`, then do a `b install`.
#
# Good luck!
#

# Source the main Gemfile.
eval_gemfile File.expand_path("../Gemfile", __FILE__)

group :development do
  # EXAMPLE: Developer's custom console enhancements.
  gem "ori"
  gem "wirb"
  # etc.
end
